@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --spanish-viridian: #007f5fff;
  --spanish-green: #2b9348ff;
  --green-ryb: #55a630ff;
  --apple-green: #80b918ff;
  --android-green: #aacc00ff;
  --bitter-lemon: #bfd200ff;
  --pear: #d4d700ff;
  --titanium-yellow: #dddf00ff;
  --xanthic: #eeef20ff;
  --maximum-yellow: #ffff3fff;

  --dark-mode-bg: #333533;
  --light-mode-bg: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro";
}

.dark-mode {
  background-color: var(--dark-mode-bg);
  color: var(--light-mode-bg);
  animation: 0.3s background-transition 0 ease-in-out 1 normal;
  -webkit-animation: 0.3s background-transition 0 ease-in-out 1 normal;
}

.light-mode {
  background-color: var(--light-mode-bg);
  color: var(--dark-mode-bg);
  animation: 0.3s background-transition 0 ease-in-out 1 reverse;
  -webkit-animation: 0.3s background-transition 0 ease-in-out 1 reverse;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes background-transition {
  0% {
    background-color: var(--dark-mode-bg);
    color: var(--light-mode-bg);
  }
  100% {
    background-color: var(--light-mode-bg);
    color: var(--dark-mode-bg);
  }
}

@-webkit-keyframes background-transition {
  0% {
    background-color: var(--dark-mode-bg);
    color: var(--light-mode-bg);
  }
  100% {
    background-color: var(--light-mode-bg);
    color: var(--dark-mode-bg);
  }
}
